

.section-treat__grid {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
align-items: center;

  @media (max-width: 1199px) {
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
        text-align: center;
        row-gap: 40px;
    }

    @media (max-width: 767px) {
        row-gap: 20px;
    }
}

