.service-block {
grid-row: 1 / 3;
display: grid;
grid-template-rows: subgrid;
text-align: center;

}
.service-block__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-block__img {
    

     @media (max-width: 767px) {
        max-width: 220px;
        height: auto;
     }
}

.service-block__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 292%;
    text-transform: capitalize;
    color: #000;

          @media (max-width: 767px) {
            font-size: 27px;
            line-height: 136%;
          }
}